body {
  display: block;
  height: 100vh;
  width: 100%;
}

.nav{
  display: flex;
  flex-direction: row-reverse;
}

.nav-item1{
  order: 2;
}
.nav-item2{
  order: 1;
}

.main {
  height: 75vh;
  display: flex;
  border: 1px;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
}
form {
  input{
    margin: 8px;
    outline: none;
  }
}
.submit{
  text-align: center;
}

#input{
  border-radius: 15px;
  border: 0.5px solid;
  padding: 5px;
}