body {
  display: block;
  height: 100vh;
  width: 100%;
}

.nav{
  display: flex;
  flex-direction: row-reverse;
}

.nav-item1{
  order: 2;
}
.nav-item2{
  order: 1;
}

.main {
  height: 75vh;
  display: flex;
  border: 1px;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

input{
  margin: 8px;
  outline: none;
  border-radius: 20px;
  border: 0.5px solid #ccc;
  padding: 9px 30px;
}

input:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.submit{
  text-align: center;
}

button {
  margin: 20px 10px;
  border: .2px solid transparent;
  padding: 8px 15px;
  border-radius: 5px;
}

button:hover {
  border: .2px solid #aca9a9;
}